body, 
html,
* {
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  flex-direction: column; 
  background-color: dodgerblue;
}

h1 {

}

.card{
    text-align: center;
    align-items: center;
}

.amiibo {
    text size: 20px;
}


